body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFFFFF;
}

.product-card {
    border: 5px solid #7FFF00;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.big-discount {
    background-color: #2E8B57 !important;
    color: white !important;
    border-color: #7FFF00 !important;
}

    .big-discount p,
    .big-discount strong,
    .big-discount h2 {
        color: white !important;
    }

.discount-badge {
    position: absolute;
    top: 155px;
    right: 20px;
    background-color: #00FA9A;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 15px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.accent-btn {
    background-color: #00FA9A !important;
    border: none !important;
    color: black !important;
    font-weight: bold;
}

    .accent-btn:hover {
        background-color: #00D080 !important;
    }
